# Environment
ENVIRONMENT=development

# Server
SERVER_PORT=8080
SERVER_HOST=0.0.0.0

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=123456
DB_NAME=wacast
DB_SSL_MODE=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=5
DB_CONN_MAX_IDLE_TIME=2
DB_CONNECTION_TIMEOUT=5

# Logging
LOG_LEVEL=debug

# WhatsApp
WHATSAPP_SESSION_TIMEOUT=300

# Encryption
ENCRYPTION_KEY=your-secret-key-here-min-32-characters

